<mat-sidenav-container class="example-container" *ngIf="shouldRun">
    <mat-sidenav
        #sidenav
        mode="side"
        [(opened)]="opened"
        (opened)="events.push('open!')"
        (closed)="events.push('close!')"
    >
        <mat-nav-list dense>
            <ng-container *ngFor="let menuItem of menuItems">
                <mat-list-item
                    *ngIf="!menuItem.children"
                    routerLink="{{ menuItem.path }}"
                >
                    <mat-icon>dashboard</mat-icon>
                    {{ menuItem.title }}
                </mat-list-item>
                <mat-expansion-panel
                    *ngIf="menuItem.children && menuItem.children.length"
                    [class.mat-elevation-z0]="true"
                    dense
                >
                    <mat-expansion-panel-header>
                        {{ menuItem.title }}
                    </mat-expansion-panel-header>
                    <mat-nav-list dense>
                        <mat-list-item
                            *ngFor="let menuItemChild of menuItem.children"
                            routerLink="{{ menuItemChild.path }}"
                        >
                            <mat-icon>attach_money</mat-icon>
                            {{ menuItemChild.title }}
                        </mat-list-item>
                    </mat-nav-list>
                </mat-expansion-panel>
            </ng-container>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-navbar [title]="title"></app-navbar>
        <button mat-button (click)="sidenav.toggle()">
            Toggle sidenav
        </button>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
